<script>
import Icons from '@/components/Icons/Icons.vue'
import Design from '@/components/Design/Painting.vue'

export default {

    components: {
        Icons,
        Design
    },

    data() {
        return {
            demo: {
                hi: 'Hola !!!',
                name: 'Enrique Osorno',
                msg: '¡ Bienvenidos a mi plataforma web ! Soy ingeniero en software, un desarrollador web que constantemente aprende nuevas tecnologías y creando software a la medida !!!',
                btn: 'Dowload CV'
            }
        }
    }

}

</script>

<template>
    <div>
        <main>
            <div class=" w-6/12 text-lg mt-16 p-4 ml-3  xl:w-2/5 xl:h-[48rem] ">
                <p class="font-bold ">
                <p class="text-white text-5xl ">{{ demo.hi }} Soy<br> {{ demo.name }}</p><br>
                <p class="text-neutral-300 mt-4 text-xl xl:text-3xl xl:mt-10">{{ demo.msg }}</p>
                </p>
                <Icons />
                <div class="mt-10 xl:mt-32">
                    <button onclick="window.open('/src/Documents/CV-1.pdf');"
                        class="bg-violet-500 text-white px-4 py-4  rounded-md flex text-2xl xl:px-28 xl:py-6">
                      
                        <p class="ml-3">{{ demo.btn }}</p>
                    </button>
                </div>
            </div>
            <div>
                <Design />
            </div>
        </main>
    </div>
</template>