<script>
export default {
    data() {
        return {
            target: {
                hi: 'Sobre mi',
                msgOne: 'Soy un desarrollador recién egresado de la carrera de ingeniería, me gusta resolver problemas de las empresas, siempre buscando las mejores alternativas y escuchar recomendaciones para un mejor desempeño del desarrollo ',
                
            }
        }
    }

}
</script>

<template>
    <div>
        <div class="w-5/12 mt-20  p-4 h-80 text-white  text-justify xl:w-[45%] xl:ml-6 xl:mt-44">
            <h1 class="font-bold mb-4 tracking-widest text-6xl place-content-center grid mt-8 text-blue-400">{{ target.hi }}
            </h1>
            <p class="mb-2 text-xl mt-11 xl:text-4xl ">{{ target.msgOne }}</p>
            <p>{{ target.msgTwo }}</p>
        </div>
        <div class="contenedor bg-violet-700 mt-[-20rem]  w-[35%] h-1/5 ml-auto mr-14 xl:mt-[-23rem]">
            <img src="/src//assets/png/devFourt.png" alt="" width="75%" class="drop">
        </div>
    </div>
</template>

<style>
.contenedor {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.drop {
    margin-left: 12%;
    margin-top: -15rem;
}
</style>