<script>
import { EnvelopeIcon, PhoneIcon } from '@heroicons/vue/24/solid';

export default {
    components: {
        EnvelopeIcon,
        PhoneIcon
    },
    data() {
        return {
            card: {
                number: '221 747 1373',
                email: 'enrique.osorn0213@gmail.com'
            }
        }
    }
}
</script>

<template>
        
           <div class="mt-2 w-full ">
                <img src="/src/assets/png/enlazeTwo.png" alt="" class="rounded-full w-80 h-80 ml-7 mt-11">
            </div>
            <div class="flex mt-[-10rem] ml-[550px] w-[3%] text-white text-9xl font-bold tracking-widest">
                <div class="animated-text">
                    I'm a <span></span>
                </div>
            </div>
        <footer class="bg-gray-800 lg:mt-[20.20%] w-full text-white xl:mt-[485px] ">
            <div class="flex justify-around">
                <div class="p-3 flex">
                    <p class=" mt-3">
                        <PhoneIcon class="w-8 h-8 ml-9 mb-4" />{{ card.number }}
                    </p>
                </div>
                <div class="p-3">
                    <p>
                        <EnvelopeIcon class="h-8 w-8 mr-8 ml-24 mb-4" />{{ card.email }}
                    </p>
                </div>
            </div>
        </footer>
    
</template>

<style>
.animated-text {
    font-size: 34px;
    font-weight: 600;
    
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "";
    color: #218399;
    animation: words 30s infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #360c76;
    border-left: 2px solid #000000;
    right: -8px;
    animation: cursor .40s infinite, typing 25s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 8px solid #ff7f5000;
    }
}

@keyframes words {

    0%,
    20% {
        content: "DevOps";
    }

    21%,
    40% {
        content: "Developer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    100% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 9px);
    }
}
</style>