<script>
import { Menu } from "@/function/menu"

export default {


  data() {
    return {
      Menu
    }
  }
}
</script>

<template>
  <div>
    <div class="place-content-center grid text-6xl text-white mt-6">
      <p>Mis <i class="text-purple-400 font-bold">Servicios</i></p>
      <img src="/src/assets/png/coding.png" alt="" width="60px" height="60px" class="ml-36">
    </div>
    <div class="grid grid-cols-3 xl:ml-3 mt-1">
      <div class="w-96 mt-9 xl:ml-32" v-for="(option, index) in Menu " :key="index">
        <div
          class=" bg-white border shadow-sm rounded-xl hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
          <img class="w-full h-80 rounded-t-xl" :src="option.img">
          <div class="md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
              {{ option.title }}
            </h3>
            <p class="mt-1 text-gray-500 dark:text-gray-400">
              {{ option.msg }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>