<script>
export default {
  data() {
    return {
      logo: {
        vue: '/src/assets/svg/vue.svg',
        angular: '/src/assets/svg/angular.svg',
        git: '/src/assets/svg/gitBranch.svg',
        php: '/src/assets/svg/php.svg',
        javaScript: '/src/assets/svg/javaScript.svg',
        python: '/src/assets/svg/python.svg',
        java: '/src/assets/svg/java.svg',
        mysql: '/src/assets/svg/mysql.svg',
        tailwind: '/src/assets/svg/tailwind.svg',
        node: '/src/assets/svg/nodeR.svg',
        figma: '/src/assets/svg/figma.svg',
        html: '/src/assets/svg/html.svg',
        css: '/src/assets/svg/css3.svg'
      }
    }
  }
}
</script>

<template>
  <div>
    <div class="container text-white mt-36 ml-32">
      <div class="skill-box">
        <span class="title">Vue js</span>
        <img :src="logo.vue" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per vue">
            <span class="tooltip">85%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">Angular</span>
        <img :src="logo.angular" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per angular">
            <span class="tooltip">70%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">Git</span>
        <img :src="logo.git" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per git">
            <span class="tooltip">85%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">PHP</span>
        <img :src="logo.php" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per php">
            <span class="tooltip">80%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">JavaScript</span>
        <img :src="logo.javaScript" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per javascript">
            <span class="tooltip">65%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">Python</span>
        <img :src="logo.python" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per python">
            <span class="tooltip">75%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">Java</span>
        <img :src="logo.java" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per java">
            <span class="tooltip">80%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">MySql</span>
        <img :src="logo.mysql" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per mysql">
            <span class="tooltip">85%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">TailwindCSS</span>
        <img :src="logo.tailwind" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per tail">
            <span class="tooltip">80%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">NodeJS</span>
        <img :src="logo.node" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per nodejs">
            <span class="tooltip">70%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title ">HTML</span>
        <img :src="logo.html" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per html">
            <span class="tooltip">85%</span>
          </span>
        </div>
      </div>
      <div class="skill-box">
        <span class="title">CSS</span>
        <img :src="logo.css" width="40px" height="40px" class="ml-auto" alt="" srcset="">
        <div class="skill-bar">
          <span class="skill-per css">
            <span class="tooltip">80%</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.container {
  position: relative;
  width: 85%;
  color: #fff;
  border-radius: 7px;
}

.container .skill-box {
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.skill-box .skill-bar {
  height: 8px;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(227, 223, 223, 0.877);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 6px;
  background: #4070f4;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

/*progreso de las diferentes lenguajes*/

.skill-per.vue {
  width: 88%;
  animation-delay: 0.1s;
}

.skill-per.angular {
  width: 70%;
  animation-delay: 0.1s;
}


.skill-per.git {
  width: 88%;
  animation-delay: 0.1s;
}


.skill-per.php {
  width: 80%;
  animation-delay: 0.1s;
}

.skill-per.html {
  width: 88%;
  animation-delay: 0.1s;
}

.skill-per.css {
  width: 82%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
  width: 60%;
  animation-delay: 0.2s;
}


.skill-per.python {
  width: 75%;
  animation-delay: 0.1s;
}

.skill-per.java {
  width: 80%;
  animation-delay: 0.1s;
}


.skill-per.mysql {
  width: 88%;
  animation-delay: 0.1s;
}


.skill-per.tail {
  width: 80%;
  animation-delay: 0.3s;
}

.skill-per.nodejs {
  width: 75%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 2;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -40px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}

.tooltip::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}
</style>