<script>

</script>

<template>
<div>
  <div class="ml-auto mr-20 w-96 mt-[-34rem] rounded-full xl:w-[26%] xl:mt-[-50rem]" >
 <img src="/src/assets/png/devTree.png" alt=""  class="rounded-2xl">
  </div>
</div>
</template>

<style>


</style>