<script>
import Introduction from '../Introduction/Introduction.vue'
import AboutMe from '../Information/AboutMe.vue'
import Contact from '@/components/Information/Contact.vue'
import Service from '@/components/Information/Service.vue'
import Skills from '@/components/Information/Skills.vue'


export default {
  components:{
    AboutMe,
    Service,
    Contact,
    Introduction,
    Skills,
  },
  data(){

return {
  currentComponent: 'Introduction',
  sidebarOpen: false,
  card: {
    home: 'Home',
    about: 'About me',
    service: 'Service',
    contact: 'Contact',
    skill: 'Skills'
  },
  
}

},
methods: {
        firtsComponent(){
            this.currentComponent = Introduction
        },
        secundComponent(){
            this.currentComponent = AboutMe
        },
        thirdComponent(){
          this.currentComponent = Service
        },
        fourthComponent(){
          this.currentComponent = Contact
        },
        fiveComponent(){
          this.currentComponent = Skills
        }
  }
}
</script>


<template>
<div>
  <nav class="p-6 flex space-x-6 w-screen text-white">
      <a href="" class="flex justify-start mr-auto text-5xl font-bold tracking-widest">Portafolio</a>
      <button @click="firtsComponent" class="text-[19px] font-semibold text-white hover:bg-gray-600 disabled:opacity-95 disabled:pointer-events-none rounded-lg border border-transparent">
            {{ card.home }}
        </button>
      <button @click="secundComponent" class="text-[19px] font-semibold text-white hover:bg-gray-600 disabled:opacity-95 disabled:pointer-events-none rounded-lg border border-transparent">
            {{ card.about }}
        </button>
        <button @click="thirdComponent" class="text-[19px] font-semibold text-white hover:bg-gray-600 disabled:opacity-95 disabled:pointer-events-none rounded-lg border border-transparent">
            {{ card.service }}
        </button>
        <button @click="fourthComponent" class="text-[19px] font-semibold text-white hover:bg-gray-600 disabled:opacity-95 disabled:pointer-events-none rounded-lg border border-transparent">
            {{ card.contact }}
        </button>
        <button @click="fiveComponent" class="text-[19px] font-semibold text-white hover:bg-gray-600 disabled:opacity-95 disabled:pointer-events-none rounded-lg border border-transparent">
            {{ card.skill }}
        </button>
    </nav>
    <component :is='currentComponent' />
    
</div>
    
</template>