<script>

import {
  CodeBracketIcon
} from '@heroicons/vue/24/solid';

export default {
  components: {
    CodeBracketIcon

  },
  data() {
    return {
      svg:{
        gitlab: '/src/assets/svg/gitLab.svg',
        discord: '/src/assets/svg/discord.svg',
        gmail: '/src/assets/svg/gmail.svg'
      }
    }
  },
}
</script>

<template>
  <div class="flex justify-normal space-x-2 mt-14 xl:mt-24 xl:space-x-9 ">
    <buttom onclick="location.href='https://gitlab.com/Enriquelml'" class="rounded-full border-cyan-500 border p-3 hover:bg-slate-900 cursor-pointer"><img :src="svg.gitlab" alt="" srcset="" class="h-6 w-6 xl:h-16 xl:w-16"></buttom>
    <buttom onclick="location.href='https://discord.com/invite/2exPs8fw'" class="rounded-full border-cyan-500 border p-3 hover:bg-slate-900 cursor-pointer"><img :src="svg.discord" alt="" class="h-6 w-6 xl:h-16 xl:w-16"></buttom>
    <a href="mailto:enrique.osorn0213@gmail.com" target="_blank" class="rounded-full border-cyan-500 border p-3 hover:bg-slate-900 cursor-pointer"> <img :src="svg.gmail" alt="" class="h-6 w-6 xl:h-16 xl:w-16"></a>
  </div>
</template>
